@import url(https://fonts.googleapis.com/css?family=Leckerli+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Josefin+Sans:400,600,700,400italic,600italic);

.title1 {
    font-family: 'montserrat';
    font-weight: 400;
    text-shadow: 0 1px rgba(5, 5, 5, 0.5);
    text-align: left;
    margin-left: 180px;
    padding: 7px 0px 0px 0px;
}

.title2 {
    font-family: 'montserrat';
    font-weight: 700;
    text-shadow: 0 1px rgba(5, 5, 5, 0.5);
    text-align: left;
    margin-left: 157px;
    padding: 7px 0px 0px 0px;
}

.title3 {
    font-family: 'montserrat';
    font-weight: 400;
    text-shadow: 0 1px rgba(5, 5, 5, 0.5);
    text-align: left;
    margin-left: 160px;
    padding: 7px 0px 0px 0px;
}


.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 100px 0px 10px;
    margin-left: 147px;
}
